{% extends 'base.html' %}

{% block css %}
<!-- Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
    datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

{% endblock css %}


{% block content %}
<div class="wrapper">

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Patient Appointment Detail</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Appointment Details</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="box box-primary">
                                <!-- form start -->
                                <form id="medicine_form" role="form">{% csrf_token %}
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="patient_name" class="form-label">Patient Name</label>
                                                    <input type="hidden" name="patient_id"
                                                           value="{{appointment.patient.id}}">
                                                    <input type="text" class="form-control" id="patient_name"
                                                           name="patient_name" value="{{appointment.patient}}" readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="mobile" class="form-label">Patient Mobile</label>
                                                    <input type="text" class="form-control" id="mobile"
                                                           name="mobile" value="{{appointment.patient.user.mobile}}"
                                                           readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="address" class="form-label">Patient Address
                                                        (optional)</label>
                                                    <input type="text" class="form-control" id="address"
                                                           name="address" value="{{appointment.patient.user.address}}"
                                                           readonly>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label for="patient_name" class="form-label">Patient Min
                                                                BP</label>
                                                            <input type="hidden" name="patient_id"
                                                                   value="{{appointment.patient.id}}">
                                                            <input type="hidden" name="appointment_id"
                                                                   value="{{appointment_id}}">
                                                            <input type="text" class="form-control" id="patient_bp_min"
                                                                   name="patient_bp_min"
                                                                   value="{{appointment.patient_bp_min}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label for="mobile" class="form-label">Patient Max
                                                                BP</label>
                                                            <input type="text" class="form-control" id="patient_bp_max"
                                                                   name="patient_bp_max"
                                                                   value="{{appointment.patient_bp_max}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label for="address" class="form-label">Patient
                                                                Weight</label>
                                                            <input type="text" class="form-control" id="patient_weight"
                                                                   name="patient_weight"
                                                                   value="{{appointment.patient_weight}}" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="patient_diseases" class="form-label">Patient
                                                        Diseases Remark</label>
                                                    <textarea id="patient_diseases" name="patient_diseases" class="form-control" readonly>{{appointment.patient_diseases}}</textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="doctor_diseases" class="form-label">Doctor Diseases Remark</label>
                                                    <textarea id="doctor_diseases" name="doctor_diseases" class="form-control" placeholder="Doctor Please Enter the Diseases Remark: " required></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>SN.</th>
                                                    <th>Medicine Name</th>
                                                    <th>Medicine Qty</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="add_medicine()">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->

{% endblock content %}

{% block js %}
<script>
    $("#medicine_expiry").datepicker({
       dateFormat: "dd/mm/yy"
    });
</script>

<script>
    $('#medicine_form').on('submit', function (e) {
        $('#loader-overlay').show(); // Show overlay
        $('#loader').show(); // Show loader
        e.preventDefault();
        var formData = $('#medicine_form').serialize();
        $.ajax({
          url: '/doctor/patient_appointment_checked/',
          type: 'POST',
          data: formData,
          success: function (response) {
            $('#loader-overlay').hide();
            $('#loader').hide();
            if(response.status == 'success'){
              Swal.fire({
                title: 'Success',
                text: response.msg,
                icon: 'success',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
              }).then((result) => {
                window.location.href = '/appointment/all_appointment/';
              });
            }else{
              Swal.fire({
                  title: 'Error',
                  text: response.msg,
                  icon: 'error',
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'OK'
              });
              $('#password').val('');
              return false;
            }
          },
        });
    });
</script>

<script>
    var index = 1;
    function add_medicine(){
        var html = '';
        html += '<tr id="medicine_tr'+index+'">';
        html += '<td>'+index+'</td>';
        html += '<td><input onkeyup="search_medicine('+index+');" type="text" id="medicine'+index+'" name="medicine" class="form-control" autocomplete="off" placeholder="Search medicine: " required></td>';
        html += '<input type="hidden" name="medicine_id" class="form-control" id="medicine_id'+index+'" required>';
        html += '<td><input type="text" id="medicine_qty'+index+'" name="medicine_qty" class="form-control" required></td>';
        html += '<td><button onclick="remove_row('+index+')"><i class="fa fa-remove" style="font-size:24px"></i></button></td>';
        html += '</tr>';

        // Append the new row to the table body
        $('table tbody').append(html);
        index +=1;
    }
    $(document).ready(function(){
        add_medicine();
    });

    function remove_row(index){
        $('#medicine_tr'+index).remove()
    }
</script>

<script>
    function search_medicine(indexID) {
        var medicineIds = [];
        $('input[name="medicine_id"]').each(function() {
            medicineIds.push($(this).val());
        });
        medicineIds = medicineIds.filter(function(id) {
            return id.trim() !== '';
        });

        $('#medicine' + indexID).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/medicine/search_medicine/',
                    type: 'GET',
                    data: {
                        search_value: request.term,
                        medicineIds: medicineIds,
                    },
                    success: function (result) {
                        if (result.results) {
                            var suggestedProducts = result.results.map(function (results) {
                                return {
                                    label: results.name + ' - ' + '('+results.type+')',
                                    value: results.name + ' - ' + '('+results.type+')',
                                    medicine_id: results.medicine_id,
                                };
                            });
                            response(suggestedProducts);
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            },
            select: function (event, ui) {
                $('#medicine_id' + indexID).val(ui.item.medicine_id);
                //add_medicine()
            }
        });
    }

</script>

{% endblock js %}
