/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #001028;
}


/* Container for PDF Content */
#pdf-content {
    width: 100%;
    max-width: 210mm; /* A4 width */
    margin: 0 auto;
    padding: 0mm;
    box-sizing: border-box;
}


#logo {
    margin-bottom: 10px;
}

#logo img {
    max-width: 100px;
    height: auto;
}

h1 {
    font-size: 2.4em;
    margin: 0 0 20px;
    color: #5D6975;
    text-align: center;
    border-top: 1px solid #5D6975;
    border-bottom: 1px solid #5D6975;
    padding: 10px 0;
    background: url('/static/logo/bill_background/dimension.png') no-repeat center;
    background-size: contain;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #C1CED9;
    font-size: 12px;
}

table th {
    background-color: #F5F5F5;
    color: #5D6975;
    font-weight: bold;
}

table tr:nth-child(even) td {
    background-color: #F9F9F9;
}

table td {
    text-align: right;
}

table .desc, table .service {
    text-align: left;
}

/* Summary Section */
.grand {
    font-size: 10px;
    font-weight: bold;
    border-top: 2px solid #5D6975;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #5D6975;
    border-top: 1px solid #C1CED9;
    padding: 10px 0;
}

/* Notice Section */
#notices .notice {
    color: #5D6975;
    font-size: 1.2em;
    margin-top: 10px;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    #project, #company {
        flex-direction: column;
        align-items: flex-start;
    }

    #project div, #company div {
        width: 100%;
        margin-bottom: 10px;
    }

    table th, table td {
        font-size: 10px;
        padding: 5px;
    }
}

/* A4 Page Sizing for Print */
@media print {
    #pdf-content {
        width: 210mm;
        height: 297mm;
        padding: 10mm;
    }

    table th, table td {
        font-size: 10px;
        padding: 5px;
    }

    header, footer {
        page-break-after: avoid;
        page-break-before: avoid;
    }

    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    td, th {
        page-break-inside: avoid;
    }
}







