{% extends 'base.html' %}

{% block css %}
<!-- Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
    datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

{% endblock css %}


{% block content %}
<div class="wrapper">

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Assign Menu</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Fill Complete Medicine Details</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="box box-primary">
                                <!-- form start -->
                                <form id="menu_submit_form" role="form">{% csrf_token %}
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="user_id" class="form-label">Account Type</label>
                                                    <select name="user_type" id="user_type" class="form-control">
                                                        <option value="0">Select Account Type</option>
                                                        <option value="1">Store Dashboard</option>
                                                        <option value="2">Doctor Dashboard</option>
                                                        <option value="3">Patient Dashboard</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="user_id" class="form-label">User Type</label>
                                                    <select name="user_id" id="user_id" class="form-control">
                                                        <option value="0">Select User</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="menu_type" class="form-label">Menu Type</label>
                                                    <select name="menu_type" id="menu_type" class="form-control">
                                                        <option value="0">Select Type Menu</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table id="menu_table" class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>SN.</th>
                                                    <th>Menu Name</th>
                                                    <th colspan="1">Menu Url</th>
                                                    <th colspan="1">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="button" id="save_selected_menus" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->

{% endblock content %}

{% block js %}

<script>
    $(document).ready(function () {
        $("#menu_table tbody").append(`
            <tr><td colspan="5" class="text-center">No data found</td></tr>
        `);

        $("#user_type").change(function () {
            var selectedValue = $(this).val();
            $('#loader-overlay').show(); // Show overlay
            $('#loader').show(); // Show loader
            if (selectedValue !== "0") {
                $.ajax({
                    url: "/menu/get_user_data/",
                    type: "GET",
                    data: { user_type: selectedValue },
                    success: function (response) {
                        selectedMenuIds = [];
                        $("#user_id").find("option:not(:first)").remove();
                        $("#menu_type").find("option:not(:first)").remove();

                        $.each(response.user_data_list, function (index, user) {
                            $("#user_id").append('<option value="' + user.user_id + '">' + user.username + ' - ' + user.user_mobile + '</option>');

                        });

                        $.each(response.menu_list, function (index, menu) {
                            $("#menu_type").append('<option value="' + menu.cat_id + '">' + menu.cat_title + '</option>');

                        });

                        $('#loader-overlay').hide(); // Show overlay
                        $('#loader').hide(); // Show loader
                    },
                });
            }
        });
    });

</script>

<script>
    var index_no = 1;
    var selectedMenuIds = [];
    var unselectedMenuIds = [];

    $("#user_id").change(function () {
        var menu_type = $("#menu_type").val();

        // Reset selectedMenuIds when user changes
        selectedMenuIds = [];

        if (menu_type != "0") {
            $("#menu_type").trigger("change");
        }
    });




    $("#menu_type").change(function () {
        var user_id = $("#user_id").val();
        if (user_id === "0") {
            alert("Please select a user before changing the menu type.");
            $(this).val("0"); // Reset menu type selection
            return;
        }

        var selectedValue = $(this).val();
        $('#loader-overlay').show();
        $('#loader').show();

        if (selectedValue !== "0") {
            $.ajax({
                url: "/menu/get_menu_data/",
                type: "GET",
                data: { menu_type: selectedValue, user_id: user_id },
                success: function (response) {
                    selectedMenuIds = [];
                    $("#menu_table tbody").empty();
                    selectedMenuIds = [];
                    if (response.menus_data_list.length > 0) {
                        $.each(response.menus_data_list, function (index, menu) {
                            var html = '<tr>';
                            html += '<td><input type="hidden" name="menu_id" id="menu_id' + index + '" value="' + menu.menu_id + '">' + (index + 1) + '</td>';
                            html += '<td>' + menu.menu_title + '</td>';
                            html += '<td>' + menu.menu_url + '</td>';

                            var checkedAttr = (menu.is_selected === true || menu.is_selected === "true") ? ' checked' : '';
                            html += '<td><input type="checkbox" class="menu_checkbox" data-menu-id="' + menu.menu_id + '" id="menu_checkbox' + index + '"' + checkedAttr + '></td>';

                            html += '</tr>';


                            $("#menu_table tbody").append(html);
                        });
                    } else {
                        $("#menu_table tbody").append(`
                            <tr><td colspan="5" class="text-center">No data found</td></tr>
                        `);
                    }

                    $('#loader-overlay').hide();
                    $('#loader').hide();
                },
                error: function () {
                    alert("Failed to fetch data. Please try again.");
                    $('#loader-overlay').hide();
                    $('#loader').hide();
                }
            });
        } else {
            $("#menu_table tbody").empty();
            selectedMenuIds = [];
        }
    });

    // Handle checkbox change
    $(document).on("change", ".menu_checkbox", function () {
        var menuId = $(this).data("menu-id"); // Get menu ID
        if ($(this).is(":checked")) {
            if (!selectedMenuIds.includes(menuId)) {
                selectedMenuIds.push(menuId);
            }
            unselectedMenuIds = unselectedMenuIds.filter(id => id !== menuId);
        } else {

            if (!unselectedMenuIds.includes(menuId)) {
                unselectedMenuIds.push(menuId);
            }
            selectedMenuIds = selectedMenuIds.filter(id => id !== menuId);
        }
    });
</script>

<script>
    function saveMenuSelection(user_id) {
        $('#loader-overlay').show();
        $('#loader').show();
        $.ajax({
            url: "/menu/save_selected_menus/",
            type: "POST",
            data: JSON.stringify({
                selectedMenuIds: selectedMenuIds,
                unselectedMenuIds: unselectedMenuIds,
                user_id: user_id,
            }),
            success: function (response) {
                $('#loader-overlay').hide();
                $('#loader').hide();
                alert("Menu selection updated successfully!");
            },
            error: function () {
                alert("Failed to update menu selection. Please try again.");
            }
        });
    }


    $("#save_selected_menus").click(function () {
        var user_id = parseInt($("#user_id").val());
        if (user_id === 0) {
            alert("Please select a user.");
            return false;
        }else{
            saveMenuSelection(user_id)
        }

    });

    // Function to get CSRF token from the cookie
    function getCSRFToken() {
        return document.cookie.split('; ')
            .find(row => row.startsWith('csrftoken='))
            ?.split('=')[1];
    }

</script>

{% endblock js %}
