{% extends 'base.html' %}

{% block css %}
{% endblock css %}


{% block content %}
<div class="wrapper">
     <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="category_form">{% csrf_token %}
                    <input type="hidden" name="record_id" id="record_id" value="{{id}}">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label>Cash</label>
                                <input type="text" class="form-control" name="cash_amount" id="cash_amount"
                                       placeholder="Enter cash amount">
                            </div>

                            <div class="col-lg-6">
                                <label>Online</label>
                                <input type="text" class="form-control" name="online_amount" id="online_amount"
                                       placeholder="Enter online amount">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label>Remark</label>
                                <textarea rows="2" cols="20" type="text" class="form-control" name="amount_remark" id="amount_remark"
                                          placeholder="Enter remark">
                                </textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label>Upload Payment Screen short Image</label>
                                <input type="file" name="payment_screenshot" id="payment_screenshot">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="category_model">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Order Estimate </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Fill Complete Medicine Details</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="box box-primary">
                                <!-- form start -->
                                <form id="medicine_form" role="form">{% csrf_token %}
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-lg-3 form-group">
                                                <input type="hidden" name="store_id" id="store_id"
                                                       value="{{store_id}}">
                                                <input type="hidden" name="oder_id" id="oder_id"
                                                       value="{{oder_id}}">
                                                <label class="form-label">Doctor Name</label>
                                                <input type="hidden" name="doctor_id" id="doctor_id"
                                                       value="{{user.doctor.id}}">
                                                <input type="text" class="form-control" id="name" name="name"
                                                       value="{{user.doctor.user.username}}">
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">Mobile Number</label>
                                                <input type="text" class="form-control" id="mobile"
                                                       name="mobile" value="{{user.doctor.user.mobile}}"
                                                       placeholder="Enter patient address: " maxlength="10">
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">House/Flat</label>
                                                <input type="text" value="{{user.doctor.user.house_flat}}"
                                                       class="form-control"
                                                       id="house_flat"
                                                       name="house_flat" placeholder="Enter patient address: ">
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">street_colony</label>
                                                <input type="text" value="{{user.doctor.user.street_colony}}"
                                                       class="form-control"
                                                       id="street_colony"
                                                       name="street_colony" placeholder="Enter patient address: ">
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">City</label>
                                                <input type="text" value="{{user.doctor.user.city}}" class="form-control"
                                                       id="city"
                                                       name="city" placeholder="Enter patient address: ">
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">district</label>
                                                <input type="text" value="{{user.doctor.user.district}}" class="form-control"
                                                       id="district"
                                                       name="district" placeholder="Enter patient address: ">
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">pin</label>
                                                <input type="text" value="{{user.doctor.user.pin}}" class="form-control"
                                                       id="pin"
                                                       name="pin" placeholder="Enter patient address: ">
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">state</label>
                                                <input type="text" value="{{user.doctor.user.state}}" class="form-control"
                                                       id="state"
                                                       name="state" placeholder="Enter patient address: " readonly>
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">country</label>
                                                <input type="text" value="{{user.doctor.user.country}}" class="form-control"
                                                       id="country"
                                                       name="country" placeholder="Enter patient address: " readonly>
                                            </div>

                                            <div class="col-lg-3 form-group">
                                                <label class="form-label">Change or Edit</label>
                                                <input type="submit" class="form-control btn btn-primary"
                                                       id="update_details" value="Update" disabled>
                                            </div>
                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>S.N</th>
                                                    <th>Medicine Name</th>
                                                    <th>Expiry</th>
                                                    <th>Record Qty</th>
                                                    <th>Qty</th>
                                                    <th colspan="1">MRP.</th>
                                                    <th>Disc.%</th>
                                                    <th>S.Rate.</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="add_medicine()"> Add
                                                </button>
                                            </div>
                                            <hr>
                                            <div class="row col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label for="sub_total">Sub. Total</label>
                                                        <input type="text" class="form-control" name="sub_total"
                                                               id="sub_total" value="0"
                                                               onkeypress="return isNumberKey(event)" readonly>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="total_discount">Discount %</label>
                                                        <input type="text" class="form-control" name="total_discount"
                                                               id="total_discount" value="{{user.discount}}" onkeypress="return isNumberKey(event)"
                                                               onkeyup="total_discount_apply_function()">
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <label for="shipping_packing">Shipping & Packing</label>
                                                        <input type="text" class="form-control" name="shipping_packing"
                                                               id="shipping_packing" value="{{user.shipping}}"
                                                               onkeypress="return isNumberKey(event)"
                                                               onkeyup="total_discount_apply_function()">
                                                    </div>



                                                    <div class="col-lg-4">
                                                        <label for="total">Total</label>
                                                        <input type="text" class="form-control" name="total" id="total"
                                                               onkeypress="return isNumberKey(event)" readonly>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label for="current"> - (Minus) Current</label>
                                                        <input type="text" class="form-control" name="current"
                                                               id="current" value="0" onkeyup="current_function()">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <label for="bill_total">Bill Total</label>
                                                        <input type="text" class="form-control" name="bill_total"
                                                               id="bill_total" value="0" readonly>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label for="old_credit">Old Credit</label>
                                                        <input type="text" class="form-control" name="old_credit"
                                                               id="old_credit" value="{{old_credit_sum}}" readonly>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label for="total_pay_bill_amount">Total Pay Bill Amount</label>
                                                        <input type="text" class="form-control"
                                                               name="total_pay_bill_amount"
                                                               id="total_pay_bill_amount"
                                                               onkeypress="return isNumberKey(event)" readonly>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <label for="cash">Cash</label>
                                                        <input type="text" class="form-control" name="cash"
                                                               id="cash" onkeypress="return isNumberKey(event)"
                                                               onkeyup="cash_online_function()" value="{{user.cash}}">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label for="online">Online</label>
                                                        <input type="text" class="form-control" name="online"
                                                               id="online" onkeypress="return isNumberKey(event)"
                                                               onkeyup="cash_online_function()" value="{{user.online}}">
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label for="new_credit">New Credit</label>
                                                        <input type="text" class="form-control" name="new_credit"
                                                               id="new_credit" onkeypress="return isNumberKey(event)"
                                                               readonly value="0">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        {% if is_last == True %}
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        {% endif %}
                                        &nbsp; &nbsp; &nbsp;
                                        <button type="button" class="btn btn-primary"
                                                data-toggle="modal"
                                                data-target="#exampleModalCenter">Add Amount
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->

{% endblock content %}

{% block js %}

<script>
    $('#medicine_form').on('submit', function (e) {
        $('#loader-overlay').show(); // Show overlay
        $('#loader').show(); // Show loader

        e.preventDefault();

        var selectedMedicines = [];

        $('input[name="sell_qty"]').each(function() {
            var qty = $(this).val();
            if (qty && qty > 0) {  // Check if qty is entered
                var row = $(this).closest('tr');  // Get the closest row to this input
                var medicineData = {
                    medicine_id: row.find('input[name="medicine_id"]').val(),
                    record_qty: row.find('input[name="record_qty"]').val(),
                    sell_qty: row.find('input[name="sell_qty"]').val(),
                    discount: row.find('input[name="discount"]').val(),
                    mrp: row.find('input[name="mrp"]').val(),
                    sale_rate: row.find('input[name="sale_rate"]').val(),
                    amount: row.find('input[name="amount"]').val(),
                };
                selectedMedicines.push(medicineData);
            }
        });

        var formData = {
            medicines: JSON.stringify(selectedMedicines),  // Selected medicines data
            doctor_id: $('#doctor_id').val(),
            sub_total: $('#sub_total').val(),
            total_discount: $('#total_discount').val(),
            shipping_packing: $('#shipping_packing').val(),
            current: $('#current').val(),
            total: $('#total').val(),
            total_pay_bill_amount: $('#total_pay_bill_amount').val(),
            cash: $('#cash').val(),
            online: $('#online').val(),
            old_credit: $('#old_credit').val(),
            new_credit: $('#new_credit').val(),
            oder_id: $('#oder_id').val(),

            csrfmiddlewaretoken: '{{ csrf_token }}'  // Add CSRF token
        };

        if (selectedMedicines.length > 0) {
            $.ajax({
                url: '/my_order/update_estimate_medicine_order_bill/{{order_type}}/{{id}}/',
                type: 'POST',
                data: formData,  // Send the form data with medicine and other inputs
                success: function (response) {
                    $('#loader-overlay').hide();
                    $('#loader').hide();

                    if(response.status == 'success'){
                      Swal.fire({
                        title: 'Success',
                        text: response.msg,
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                      }).then((result) => {
                        window.location.href = '/bill/estimate_order_bill_list/';
                      });
                    }else{
                      Swal.fire({
                          title: 'Error',
                          text: response.msg,
                          icon: 'error',
                          confirmButtonColor: '#3085d6',
                          confirmButtonText: 'OK'
                      });
                      $('#password').val('');
                      return false;
                    }
                },
                error: function() {
                    $('#loader-overlay').hide();
                    $('#loader').hide();
                    Swal.fire({
                        title: 'Error',
                        text: 'An error occurred during submission.',
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    });
                }
            });
        } else {
            $('#loader-overlay').hide();
            $('#loader').hide();
            Swal.fire({
                title: 'Error',
                text: 'No quantities entered.',
                icon: 'error',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            });
        }
    });
</script>

<script>
    $(document).ready(function(){
        //add_medicine();

        {% for i in medicine %}

            var html = '';
            html += '<tr id="medicine_tr'+index+'">';
            html += '<td>'+index+'</td>';
            html += '<td><input style="width: 300px;" value="{{i.medicine_name}}" type="text" id="medicine'+index+'" name="medicine" class="form-control" autocomplete="off" placeholder="Search medicine: " required></td>';
            html += '<input type="hidden" name="record_id" class="form-control" id="record_id'+index+'" required>';
            html += '<input value="{{i.medicine_id}}" type="hidden" name="medicine_id" class="form-control" id="medicine_id'+index+'" required>';

            html += '<td><input style="width: 100px;" value="{{ i.expiry|date:"d-m-Y" }}" type="text" id="expiry'+index+'" name="expiry" class="form-control" readonly required></td>';

            html += '<td><input style="width: 90px;" value="{{i.record_qty}}" type="text" id="record_qty'+index+'" name="record_qty" class="form-control" readonly required></td>';

            html += '<td><input style="width: 90px;" readonly value="{{i.sell_qty}}" type="text" onkeyup="sell_qty_function('+index+')" onkeypress="return isNumberKey(event)" id="sell_qty'+index+'" name="sell_qty" class="form-control" placeholder="Sell quantity" required></td>';

            html += '<td><input style="width: 90px;" value="{{i.mrp}}" type="text" id="mrp'+index+'" name="mrp" class="form-control" value="0" readonly required></td>';

            html += '<td><input style="width: 90px;" value="{{i.discount}}" type="text" onkeyup="discount_function('+index+')" onkeypress="return isNumberKey(event)" id="discount'+index+'" name="discount" class="form-control" required></td>';

            html += '<td><input style="width: 90px;" type="text" id="sale_rate'+index+'" name="sale_rate" class="form-control" readonly required></td>';

            html += '<td><input style="width: 90px;" value="0" type="text" onkeypress="return isNumberKey(event)" id="hsn'+index+'" name="hsn" class="form-control" readonly required></td>';

            html += '<td><input style="width: 90px;" value="0" type="text" id="amount'+index+'" name="amount" class="total form-control" readonly></td>';

            //html += '<td><button onclick="remove_row('+index+')"><i class="fa fa-remove" style="font-size:24px"></i></button></td>';
            html += '</tr>';

            $('table tbody').append(html);

            sell_qty_function(index)
            discount_function(index)
            sub_total_function()
            cash_online_function()

            index +=1;

        {% endfor %}
    });

    var index = 1;
    function add_medicine(){
        var html = '';
        html += '<tr id="medicine_tr'+index+'">';
        html += '<td>'+index+'</td>';
        html += '<td><input onkeyup="search_medicine('+index+');" type="text" id="medicine'+index+'" name="medicine" class="form-control" autocomplete="off" placeholder="Search medicine: " required></td>';
        html += '<input type="hidden" name="record_id" class="form-control" id="record_id'+index+'" required>';
        html += '<input type="hidden" name="medicine_id" class="form-control" id="medicine_id'+index+'" required>';

        html += '<td><input type="text" id="expiry'+index+'" name="expiry" class="form-control" readonly required></td>';

        html += '<td><input type="text" id="record_qty'+index+'" name="record_qty" class="form-control" readonly required></td>';

        html += '<td><input type="text" onkeyup="sell_qty_function('+index+')" onkeypress="return isNumberKey(event)" id="sell_qty'+index+'" name="sell_qty" class="form-control" placeholder="Sell quantity" required></td>';

        html += '<td><input type="text" id="mrp'+index+'" name="mrp" class="form-control" value="0" readonly required></td>';

        html += '<td><input value="0" type="text" onkeyup="discount_function('+index+')" onkeypress="return isNumberKey(event)" id="discount'+index+'" name="discount" class="form-control" required></td>';

        html += '<td><input type="text" id="sale_rate'+index+'" name="sale_rate" class="form-control" readonly required></td>';

        html += '<td><input type="text" onkeypress="return isNumberKey(event)" id="hsn'+index+'" name="hsn" class="form-control" readonly required></td>';

        html += '<td><input value="0" type="text" id="amount'+index+'" name="amount" class="total form-control" readonly></td>';

        html += '<td><button onclick="remove_row('+index+')"><i class="fa fa-remove" style="font-size:24px"></i></button></td>';
        html += '</tr>';

        // Append the new row to the table body
        $('table tbody').append(html);
        index +=1;
    }

    function remove_row(index){
        $('#medicine_tr'+index).remove()
        sub_total_function()
        total_discount_apply_function()
        cash_online_function()
    }
</script>

<script>
    function search_medicine(indexID) {

        $('#medicine'+indexID).on('keydown', function(event) {
            if (event.key === 'Backspace' || event.key === 'Delete') {
                $('#record_id' + indexID).val('');
                $('#medicine_id' + indexID).val('');
                $('#mrp' + indexID).val('');
                $('#record_qty' + indexID).val('');
                $('#amount' + indexID).val(0);
            }
        });

        $('#medicine'+indexID).on('input', function() {
            var value = $(this).val();
            var leadingSpaces = value.match(/^ */)[0].length;
            if (leadingSpaces > 2) {
                $(this).val(value.slice(0, leadingSpaces - 1) + value.slice(leadingSpaces));
            }
        });

        var medicineIds = [];

        $('input[name="medicine_id"]').each(function() {
            medicineIds.push($(this).val());
        });
        medicineIds = medicineIds.filter(function(id) {
            return id.trim() !== '';
        });

        $('#medicine' + indexID).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/store/search_medicine/',
                    type: 'GET',
                    data: {
                        search_value: request.term,
                        medicineIds: medicineIds,
                    },
                    success: function (result) {
                        if (result.results) {
                            var suggestedProducts = result.results.map(function (results) {
                                return {
                                    label: results.name,
                                    value: results.name,
                                    record_id: results.record_id,
                                    medicine_id: results.medicine_id,
                                    record_qty: results.record_qty,
                                    price:results.price
                                };
                            });
                            response(suggestedProducts);
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $('#record_id' + indexID).val(ui.item.record_id);
                $('#medicine_id' + indexID).val(ui.item.medicine_id);
                $('#mrp' + indexID).val(ui.item.price);
                $('#record_qty' + indexID).val(ui.item.record_qty);
                //add_medicine()
            }
        })
    }
</script>

<script>
    function sell_qty_function(index){
        var sell_qty = Number($('#sell_qty' + index).val()) || 0;
        var mrp = Number($('#mrp' + index).val()) || 0;
        var sell_amt = sell_qty * mrp

        var discount = Number($('#discount'+index).val()) || 0;
        var disc_amt = (discount / 100) * sell_amt;
        var disc_amt1 = (discount / 100) * mrp;
        var amt =  sell_amt - disc_amt
        var sale_rate =  mrp - disc_amt1

        $('#sale_rate'+index).val(sale_rate.toFixed(2));
        var result = amt
        $('#amount'+index).val(amt.toFixed(2));

        sub_total_function()
        total_discount_apply_function()
        cash_online_function()
    }
</script>

<script>
    function discount_function(index){
        var sell_qty = Number($('#sell_qty' + index).val()) || 0;
        var mrp = Number($('#mrp' + index).val()) || 0;
        var sell_amt = sell_qty * mrp

        if (sell_qty){
            var discount = Number($('#discount'+index).val()) || 0;
            var disc_amt = (discount / 100) * sell_amt;
            var disc_amt1 = (discount / 100) * mrp;
            var amt =  sell_amt - disc_amt
            var sale_rate =  mrp - disc_amt1

            $('#sale_rate'+index).val(sale_rate.toFixed(2));

            var result = amt
            $('#amount'+index).val(amt.toFixed(2));

            sub_total_function()
            total_discount_apply_function()
            cash_online_function()
        }else{
            console.log('sell qty is not here')
        }
    }
</script>

<script>
    function sub_total_function(){
        var amountElements = document.querySelectorAll('[name="amount"]');
        var totalSum = 0;
        amountElements.forEach(function(element) {
            var amt = Number(element.value) || 0;
            totalSum += amt;
        });
        $('#sub_total').val(totalSum.toFixed(2))
    }
</script>


<script>
    function total_discount_apply_function(){
        var dis_apply = Number($('#total_discount').val()) || 0;
        var shipping_packing = Number($('#shipping_packing').val()) || 0;

        var sub_total = Number($('#sub_total').val())

        var disc_amt = (dis_apply / 100) * sub_total;
        var amt =  sub_total - disc_amt
        var amt =  amt +  shipping_packing
        $('#total').val(amt.toFixed(2))

        var current = Number($('#current').val()) || 0;
        var old_credit = Number($('#old_credit').val()) || 0;
        var total = Number($('#total').val()) || 0;
        if (current > total){
            var current = Number($('#current').val(0));
        }
        var current = Number($('#current').val()) || 0;
        total = total - current
        $('#bill_total').val(total.toFixed(2))
        var total_pay_bill = total + old_credit
        Number($('#total_pay_bill_amount').val(total_pay_bill.toFixed(2)))

        cash_online_function()
    }
</script>

<script>
    function cash_online_function(){
        var cash = Number($('#cash').val()) || 0;
        var online  = Number($('#online').val()) || 0;
        total_pay_bill = Number($('#total_pay_bill_amount').val()) || 0;

        var paid_amt = total_pay_bill - (cash + online)
        $('#new_credit').val(paid_amt.toFixed(2))
    }

    function current_function(){
        total_discount_apply_function()
    }
</script>

<script>
    $('#category_form').on('submit', function (e) {
        $('#loader-overlay').show(); // Show overlay
        $('#loader').show(); // Show loader
        cash_amount = Number($('#cash_amount').val());
        online_amount = Number($('#online_amount').val());
        if(cash_amount == '' && online_amount == ''){
            Swal.fire({
                  title: 'Error',
                  text: 'Please enter cash amount',
                  icon: 'error',
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'OK'
             });
            return false;
        }

        e.preventDefault();
        var formData = $('#category_form').serialize();
        $.ajax({
          url: '/my_order/estimate_add_extra_amount/{{id}}/',
          type: 'POST',
          data: formData,
          success: function (response) {
            $('#loader-overlay').hide(); // Show overlay
            $('#loader').hide(); // Show loader
            if(response.status == 'success'){
                $('#exampleModalCenter').modal('hide');
                location.reload();
            }else{
              Swal.fire({
                  title: 'Error',
                  text: response.msg,
                  icon: 'error',
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'OK'
              });
              $('#password').val('');
              return false;
            }
          },
        });
    });
</script>
{% endblock js %}
